<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
	  <!--ConnectionString = "Server=ANDREW-GX502G\SQLEXPRESS;database=WebForm;uid=sa;pwd=1;"-->
	  <add key="ConnectionString" value="1x1KyXK2QxR1ZJkuXQbNfVwtU+xsWd17hlZPAcSdeWcuTVXBqScCa5hgRi3JsIgGvAk32fwowASAFdXlRdPMow==" />
	  <add key="UserID" value="Andrew" />
	  
	  <add key="TempFolderPath" value="C:\Users\Andrew\Downloads\WebForm_20240625\WebForm\TempFolder\" />
	  <add key="CustomerApiUrl" value="https://localhost:44326/api/" />
	  <add key="PDF_tmplPath" value="C:\Users\Andrew\Downloads\WebForm_20240625\WebForm\Template\PDF_Template.pdf" />
	  <add key="WORD_tmplPath" value="C:\Users\Andrew\Downloads\WebForm_20240625\WebForm\Template\WORD_Template.docx" />
    <add key="myPDF_tmplPath" value="C:\Users\Andrew\Downloads\WebForm_20240625\WebForm\Template\myPDF_Template.pdf" />
    <add key="myWORD_tmplPath" value="C:\Users\Andrew\Downloads\WebForm_20240625\WebForm\Template\myWORD_Template.docx" />
    
	  <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

	<customErrors mode="Off">
	</customErrors>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BMISoap">
          <security mode="Transport" />
        </binding>
        <binding name="BMISoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44301/WebService/BMI.asmx" binding="basicHttpBinding" bindingConfiguration="BMISoap" contract="BMI.BMISoap" name="BMISoap" />
    </client>
  </system.serviceModel>
</configuration>